@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#nav a {
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
    color: #352d2d;
    text-decoration: none;
}

#nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

#nav a:hover::after {
    transform: scaleX(1);


}

#nav .btnLogin-popup {
    border: 2px solid #fff;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    width: 130px;
    height: 50px;
    background: transparent;
    font-weight: 500;
    margin-left: 40px;
    color: #162938;
    font-size: 1.1em;
    transition: .5s;
}

#nav .btnLogin-popup:hover{
    background: #fff;
    color: #162938;

}

#tela {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#tela .form-box login {
    width: 100%;
    padding: 40px;

}

#box {
    font-size: 2em;
    text-align: center;
    color: #162938;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    

    
}


.wrapper {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s , height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
    

}
